.form {
    margin: 0px 10px;
}
.form-page {
    display: flex;
    flex-flow: column nowrap;
    font-size: 16px;
}

/* Indent conditional questions */
.conditional {
    margin-left: 10px;
}
.conditional2 {
    margin-left: 20px;
}

/* Horizontal line after each question */
.question-wrapper {

    &:not(:first-child)::before{
        display: block;
        width: 100%;
        height: 30px;
        content: " ";
        background-image: linear-gradient(to right, lightgray, lightgray);
        background-position: center center;
        background-size: 95% 2px;
        background-repeat: no-repeat;
    }

    /* Displays error messgae if any descendant element has class invalid */
    &:has( .invalid)::after {
        content: attr(data-error);
        display: block;
        font-size: 14px;
        color: red;
        font-style: italic;
        margin: 0.5rem 0 0 0.5rem;
    }
}

.number-question {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15px;

}

.select-question {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.binary-question {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    justify-content: space-between;
    align-items: baseline;

    > P {
        margin: 0;
    }
}

.radio-question {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;

    > p {
        margin: 0;
    }
}

.radio-container {
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: flex-end;
    align-items: center;
}

.nowrap {
    flex-wrap: nowrap;
}

.radio-answer {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

input[type=number] {
    width: 80px;
    padding: 4px 8px;
    font-family: 'Nunito', 'Open Sans', sans-serif;
    font-size: inherit;
    box-sizing: border-box;
    border-radius: 10px;
    border: 2px solid gray;
    text-align: center;
    background-color: whitesmoke;

    /* Removes number input arrow buttons */
    -moz-appearance: textfield;
    appearance: none;

    &#heightimperial {
        width: 60px;
    }

    &:disabled {
        border: 2px solid grey
    }
}

input[type=radio] {
    margin: 0px 3px;
}

/* Removes number input arrow buttons */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

select {
    appearance: none;
    width: 100%;
    padding: 8px 12px;
    font-family: inherit;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid gray;
    background-color: whitesmoke;

    /* https://codepen.io/vkjgr/pen/VYMeXp */
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%),
        linear-gradient(to right, #ccc, #ccc);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px),
        calc(100% - 2.5em) 0.5em;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.form-control {
    margin: 20px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    gap: 10px;

    > button {
        margin-top: 10px;
        font-size: 20px;
        padding: 8px 20px;
        font-family: inherit;
        color: whitesmoke;
        background-color: #dc8484;
        border: none;
        border-radius: 4px;
        transition: background-color 0.2s;

        &:disabled {
            background-color: #e7acac;
        }

        &:not(:disabled):hover {
            background-color: #db7976;
            cursor: pointer;
        }
    }
}

.center {
    justify-content: center;
}

.material-symbols-rounded {
    font-size: 20px;
    position: relative;
    top: 4px;
}

.icon-array-container {
    display: flex;
    flex-flow: row wrap-reverse;
    align-items: flex-end;
    justify-content: center;
    gap: 20px;
}

.icons {
    display: grid;
    grid-template-columns: repeat(40, 24px);
    margin-bottom: 20px;
}

.legend-container {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 200px;
}

.icon-legend {
    display: grid;
    grid-template-columns: 36px 1fr;
    gap: 10px;
    align-items: center;

    > h3 {
        margin: 0;
    }
}

.display-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    /* background-color: #9cc4bc; */
}

.percentage-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0px 10px;
    width: 100%;
    text-align: center;
}


.text-container {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    margin: 20px 0px;

    > h2 {
        margin: 0;
        text-align: center;
    }

    > p {
        margin: 0;
        text-align: center;
    }
}

.tab-container {
    display: grid;
    gap: 5px;
    padding: 10px 10px;
    background-color: #e7acac;
    border-radius: 20px;

    > button {
        font-size: 18px;
        color: whitesmoke;
        padding: 6px 12px;
        font-family: inherit;
        border: none;
        background-color: #e7acac;
        border-radius: 10px;
        cursor: pointer;
        box-sizing: border-box;
        transition: background-color 0.2s;
        
        &:hover {
            background-color: #db7976;
            cursor: pointer;
        }

        &.active {
            background-color: #d35b54;
            border-radius: 10px;
        }
    }
}

.six-button {
    grid-template-columns: repeat(6, 1fr);
}

.two-button {
    grid-template-columns: repeat(2, 1fr);
}

/* Imperial or metric units switch */
.unit-switch {
    background-color: lightgray;
    padding: 2px 2px;
    border-radius: 5px;

    > button {
        font-size: 18px;
        font-family: inherit;
        padding: 2px 14px;
        box-sizing: border-box;
        border: 0px;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.2s;

        &.active {
            background-color: #dc8484;
        }

        &:not(.active):hover {
            background-color: lightgray;
        }
    }
}

.input-units {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
    align-items: center;
}


/* Tooltip */
.tooltip {
    position: relative;
    border-bottom: 1px dashed black;

    &::before {
        content: attr(data-text); 
        position:absolute;
        visibility: hidden;

        /* Tooltip position */
        left: 100%;
        bottom: 100%;
        transform: translateX(-75%);
        margin-bottom: 5px;

        width: 200%;
        padding:10px;
        border-radius:10px;
        background:gray;
        color: #fff;
        text-align:center;
        box-sizing: border-box;

        opacity: 0;
        transition: opacity 0.3s;
    }

    &:hover::before {
        opacity: 1;
        visibility: visible;
    }
}



/* .tooltip::before {
    content: attr(data-text); 
    position:absolute;

    Tooltip position 
    left: 100%;
    bottom: 100%;
    transform: translateX(-75%);
    margin-bottom: 5px;

    width: 200%;
    padding:10px;
    border-radius:10px;
    background:gray;
    color: #fff;
    text-align:center;
    box-sizing: border-box;

    opacity: 0;
    transition: 0.3s opacity;
}

.tooltip:hover::before {
    opacity: 1;
} */



.progress-bar {
    width: 100%;
    height: 40px;
    background-color: lightgray;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -2px 2px rgba(255, 255, 255, 0.3);
    box-sizing: border-box;

    > span {
        display: block;
        height: 100%;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: #d35b54;
        transition: ease-in-out .4s width;
    }
}

.form-container {
    margin: 40px 0px;
}

.formulation-container {
    border-radius: 20px;
    background-color: #fbdcdc;
    padding: 10px 20px;
    margin: 10px 10px;

    > h2 {
        margin: 5px 0px;
    }

    > p {
        margin: 5px 0px;
    }
}

.symptom {
    text-align: center;
    margin: 24px 0px;
    font-size: 20px;
}

.summary-container {
    padding: 0.8rem 0px;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.labels {
    display: grid;
    grid-template-rows: auto;
    row-gap: 0.8rem;
    align-items: center;

    > p {
        margin: 0;
        text-align: end;
    }
}

.bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.8rem;
    margin: 0 10px;
    background: linear-gradient(
        to right,
        lightgray,
        lightgray 2px,
        whitesmoke 2px,
        whitesmoke calc(25% - 1px),
        lightgray calc(25% - 1px),
        lightgray calc(25% + 1px),
        whitesmoke calc(25% + 1px),
        whitesmoke calc(50% - 1px),
        lightgray calc(50% - 1px),
        lightgray calc(50% + 1px),
        whitesmoke calc(50% + 1px),
        whitesmoke calc(75% - 1px),
        lightgray calc(75% - 1px),
        lightgray calc(75% + 1px),
        whitesmoke calc(75% + 1px),
        whitesmoke calc(100% - 2px),
        lightgray calc(100% - 2px),
        lightgray 100%
    );
}

.bar {
    height: 40px;
    grid-column-end: span 1;
    grid-row-end: span 1;

    > span {
        display: block;
        height: 100%;
        width: 100%;
        background-color:#e7acac;
        transition: background-color 0.2s;
        transition: opacity 0.2s;

        &:hover{
            background-color: #d35b54;

            &::after {
                opacity: 1;
            }
        }

        &::after {
            content: attr(data-ratio);
            position: relative;
            opacity: 0.5;
            top: 25%;
            left: -40px;
        }
    }
}


.reduced-risk {
    grid-column-start: 1;
    justify-self: end;
}

.increased-risk {
    grid-column-start: 2;
    justify-self: start;
}

.axes {
    grid-template-rows: 1 / span 1;
    grid-row: 2 / span 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    > p {
        margin: 0;
    }
}
