.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    padding-top: 40px;
    background-color: lightblue;
}

.sidebar li{
    list-style-type: none;
    padding: 10px;
}

.detail {
    position: relative;
    margin-left: 270px;
}

.sidebar h2 {
    margin: 0;
    padding: 20px;
}

